modules = ["nodejs-20"]
run = "npm run start"
entrypoint = "app/page.tsx"
hidden = [".next", "node_modules"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "gce"

[env]
PORT = "3000"
